@page "/"
@using LangVoyageWebApp.Components
@inject NavigationManager NavigationManager

<PageTitle>Learning Center</PageTitle>

<h1>Learning Center</h1>

Select the exercises you want to use.
<br/>

<NavLink href="/nouns">Lets practise nouns</NavLink>
<br/>
<NavLink href="/sentences">No way, I love sentences</NavLink>

<CircularProgress Progress="75"
                  Size="150"
                  FillColor="blue"
                  BackgroundColor="#eee"
                  InnerText="Nouns"
                  OnClickCallback="@(() => NavigationManager.NavigateTo("/nouns"))"/>

<CircularProgress Progress="15"
                  Size="150"
                  FillColor="green"
                  BackgroundColor="#eee"
                  InnerText="Sentences"
                  OnClickCallback="@(() => NavigationManager.NavigateTo("/sentences"))"/>

@code {

}
