@page "/"
@using LangVoyageWebApp.Components
@inject NavigationManager NavigationManager

<PageTitle>Learning Center</PageTitle>

<h1>Learning Center</h1>

Select the exercises you want to use.
<br/>
<CircularProgress InnerText="Nouns!" Thickness="18" Progress="22"></CircularProgress>

<NavLink href="/nouns">Lets practise nouns</NavLink>
<br/>
<NavLink href="/sentences">No way, I love sentences</NavLink>

<CircularProgress Progress="75"
                  Size="150"
                  FillColor="blue"
                  BackgroundColor="#eee"
                  InnerText="75%"
                  OnClickCallback="@(() => OnCircleClicked())" />

@code {
    private void OnCircleClicked()
    {
        // Handle click logic here
        NavigationManager.NavigateTo("/nouns");
    }
}
